@import '/src/styles/vars';

.homepage-cours {
  border: 1px solid $grey;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: auto;
  margin: 10px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-cours {
  /* display: flex;
  align-items: center; */
  color: $grey;
  font-size: 1.8rem;
}
.lesson {
  letter-spacing: 1px;
  font-size: medium;
  font-weight: 400;
  color: black;
  margin: 30px;
}
.btn-cours {
  border: 1px solid white;
}
#dark .homepage-cours {
  color: white;
}
#dark .lesson {
  color: white;
}
#dark .btn-menu {
  background-color: $blueLogo;
  color: white;
}
#dark .head-menu {
  color: white;
}
#dark .title-cours {
  color: white;
}
#dark .footer-container {
  background-color: $blueLogo;
}
#dark .btn-cours {
  border: 1px solid white;
}
// Responsive Cours
@media screen and (max-width: 991px) {
  .homepage-cours {
    width: 100%;
    padding: 10px;
  }
}