.title-lexique{
    color: #424C7C;
	font-size: 28px;
	font-weight: 700;
    display: flex;
	justify-content: center;
	align-content: center;
	padding: 15px;
}
.titleDescription{
    text-align: left;
    font-weight: bold;
    padding-bottom: 15px;
    color: #424C7C;
}
.parent{
    width: 500px;
  margin: auto;
}
.lettersolo{
    margin: 20px;
}
.lefttop{
    padding: 45px;
    display: flex;
    justify-content: center;
    color: #424C7C;
	font-size: 20px;
}
.SB {
    text-align: center;
}
//DIV ALL----------------------------------
.divAll-A{
    
    display: flex;
    
    color: #424C7C;
    
    width: 1000px;
    margin-left: 260px;
    
}
.divAll-B{
    display: flex;
    color: #424C7C;
    width: 1000px;
    margin-left: 260px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.divAll-C{
    display: flex;
    color: #424C7C;
    width: 1000px;
    margin-left: 260px;
    margin-bottom: 20px;
    margin-top: 20px;
}

//DIV LETTER----------------------------------
.divletter-A{
    font-size: 3rem;
    padding: 10px;
    font-weight: bold;
    display: flex;
    vertical-align: baseline;
}
.divletter-B{
    font-size: 3rem;
    padding: 30px;
    font-weight: bold;
    display: flex;
    vertical-align: baseline;
}
.divletter-C{
    font-size: 3rem;
    padding: 30px;
    font-weight: bold;
    display: flex;
    vertical-align: baseline;
}

//DESCRIPTION LETTER----------------------------------
.descriptionLetter-A{
    padding: 20px;
}
.descriptionLetter-B{
    padding: 20px;
}
.descriptionLetter-C{
    padding: 20px;
}

.titleDescription{
    
    font-size: 2rem;
}

//TITLE DESCRIPTION----------------------------------
.titleDescription-A-2{
    border-radius: 16px;
    display: block;
    padding-top: 24px;
    font-size: 2rem;
}
.titleDescription-B-2{
    border-radius: 16px;
    display: block;
    padding-top: 24px;
    font-size: 2rem;
}
.titleDescription-C-2{
    border-radius: 16px;
    display: block;
    padding-top: 24px;
    font-size: 2rem;
}


