.titleh1{
    color: #424C7C;
	font-size: 28px;
	font-weight: 700;
    display: flex;
	justify-content: center;
	align-content: center;
	padding: 15px;
}


.parent{
    width: 500px;
    margin: auto;
}

.SB {
    border-top: 2px solid;
    color: rgba(0, 0, 0, 0.185); 
    width: 1000px;
    margin: auto;
    opacity: 50%;
}

.lettersolo{
    margin: 20px;
}

.lefttop{
    padding: 45px;
    display: flex;
    justify-content: center;
    color: #424C7C;
	font-size: 20px;
}
.SB {
    text-align: center;
}

//DIV ALL----------------------------------
.divAll{
    display: flex;
    color: #424C7C;
    width: 1000px;
    margin-left: 260px;
    flex-direction: column;
}

//DIV LETTER-----------------------------------
.divletter{
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    margin-top: 39px;
}

//DESCRIPTION LETTER----------------------------------
.descriptionLetter{
    padding: 20px;
    flex-direction: column;
}

//TITLE DESCRIPTION----------------------------------

.titleDescription{
    text-align: left;
    font-weight: bold;
    padding-bottom: 15px;
    color: #424C7C;
    font-size: 2rem;
}