.btn-primary, .btn-primary:hover {
    background-color: #424C7C;;
    border-color: #424C7C;
  }

  .dropdown-item {
    background-color: #424C7C;
    color: #fff;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;
    text-align: center;
  }

  .dropdown-menu {
    overflow: hidden;
  }
  .dropdown-menu.show {
    color: #fff;
  }