@import './src/styles/vars';

.head-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: rgb(201, 201, 201) 1px solid;
  width: 90%;
  margin: 0 auto;
}
.btn-menu {
  margin-right: 10px;
  border: none;
}
.btn-menu:hover {
  box-shadow: inset 250px 0 0 0 $blueLogo;
  color: white;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.progressBar {
  width: 10%;
  height: 10px;
  border-radius: 10px;
  background-color: pink;
  color: green;
}