// DESKTOP MENU
.App-menu {
    font-size: 1.1rem;
    padding: 5px;
    margin: 8px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.App-nav {
    margin-left: auto;
    padding: 20px 0px 20px 20px;
    display: flex;
} 

.App-button {
    margin-left: auto;
}

.App-link {
    margin: 8px;
    color: #424C7C;
    text-decoration: none;
    border-radius: 8px;
    padding: 5px;
}

 .App-link:hover {
    box-shadow: inset 350px 0 0 0 #424C7C;
    color: white;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }

.App-button-login {
    background-color: #424C7C;
    color: white;
    padding: 5px;
    border-radius: 8px;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}

.App-button-signin {
    background-color: white;
    color: #424C7C;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}

.App-button-login:hover {
    color: #424C7C;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #424C7C;
    transition: ease-in .1s;
}

.App-button-signin:hover {
    color: #424C7C;
    border-radius: 8px;
    border: 1px solid #424C7C;
    transition: ease-out .1s;
}

.App-button-profile {
    background-color: #424C7C;
    color: white;
    padding: 5px;
    border-radius: 8px;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}
.App-button-profile:hover {
    color: #424C7C;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #424C7C;
    transition: ease-in .1s;
}
.App-nav-burger {
    width: 40px;
    height: 40px;
    background: transparent;
    color: inherit;
    display: none;
    border: none;
    margin-left: 30px;
}

// RESPONSIVE MENU
@media all and (max-width: 1300px) {
    .App-nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: -100vw;
        bottom: 0;
        height: 100vh;
        background-color: white;
        visibility: hidden;
    }
    .show-nav, .App-link {
        right: 0;
        width: 100vw;
        visibility: visible;
        z-index: 1;
    }
    .App-link {
        display: block;
        padding: 1.5rem;
        font-size: 5vw;
        color: #424C7C;
    }
    .App-nav-burger {
        display: block;
        top: 1rem;
        right: 1rem;
        z-index: 1;
    }
    .App-nav-burger:hover {
        cursor: pointer;
    }
    .burger-bar, .burger-bar::before, .burger-bar::after {
       display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background-color: #424C7C;
        transition: all .5s ease-in-out;
    }
    .burger-bar::before, .burger-bar::after {
        content: '';
        position: absolute;
        left: 0;
    }
    .burger-bar::before {
        transform: translateY(-12px);
    }
    .burger-bar::after {
        transform: translateY(12px);
    }
}

