// RESPONSIVE MENU
@media all and (max-width: 991px) {
    .App-nav {
        display: none;
    }
    .App-button {
        display: none;
    }
    .search-box {
        display: none;
    }
}

.App-menu-icon{
display: none;
}


// DESKTOP MENU
.App-menu {
    font-size: 1.1rem;
    padding: 5px;
    margin: 8px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.App-nav {
    padding: 20px 0px 20px 20px;
} 

.App-link {
    margin: 8px;
    color: #424C7C;
    text-decoration: none;
    border-radius: 8px;
    padding: 5px;
    box-shadow: inset 0 0 0 0 #424C7C;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

 .App-link:hover {
    box-shadow: inset 250px 0 0 0 #424C7C;
    color: white;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }

.App-button-login {
    background-color: #424C7C;
    color: white;
    padding: 5px;
    border-radius: 8px;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}

.App-button-signin {
    background-color: white;
    color: #424C7C;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}

.App-button-login:hover {
    color: #424C7C;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #424C7C;
    transition: ease-in .1s;
}

.App-button-signin:hover {
    color: #424C7C;
    border-radius: 8px;
    border: 1px solid #424C7C;
    transition: ease-out .1s;
}

.App-button-profile {
    background-color: #424C7C;
    color: white;
    padding: 5px;
    border-radius: 8px;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}
.App-button-profile:hover {
    color: #424C7C;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #424C7C;
    transition: ease-in .1s;
}


