.main-container {
  height: 100vh;
  margin: auto;
  width: 100%;
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card-parcours {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-cours {
  display: flex;
  justify-content: center;
}
.lien-parcours {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}