.App-article-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    height: 100vh;
}
.App-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
}

.App-article-title {
    margin: 40px 0;
    font-size: 3rem;
    color: #424C7C;
}

.App-article-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.article-image {
    width: 20%;
    height: auto;
    margin: 20px 0; 
}

.article-text {
    display: flex;
    align-items: center;
    font-weight: 300;
    margin: 40px auto;
    font-size: 1.2rem;
    color: #424C7C;
    width: 60%;
    text-align: justify;
}

.App-article-author {
    font-size: 0.8rem;
    color: #424C7C;
    font-weight: 300;
    border-radius: 5px;
    border: #424C7C 1px solid;
    padding: 5px;
}

.App-pub {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    color: #424C7C;
    font-weight: bold;
    border-radius: 5px;
    border: #424C7C 1px solid;
    padding: 30px;
    background-color: #EAEAEA;
    width: 60%;
    align-items: center;
}
.App-pub-title {
    padding-bottom: 10px;
}
.App-pub-text{
    padding-bottom: 10px;
}
.App-pub-button {
    background-color: #424C7C;
    color: white;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid white;
    cursor: pointer;
    margin: auto;
    font-size: 1.2rem;
}
.App-pub-button:hover {
    color: #424C7C;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #424C7C;
    transition: ease-in .1s;
}

