// HEADER
.title-page{
    color: #424C7C;
	font-size: 28px;
	font-weight: 700;
    display: flex;
	justify-content: center;
	align-content: center;
	padding: 15px;
}
#dark .title-page {
    color: white;
}
// CARD TEAM
.team-preview {
    width: 25%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    color: #424C7C;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#dark .team-preview {
    background-color: rgb(0, 0, 82);
    color: white;
    box-shadow: darkblue 0px 10px 36px 0px, darkblue 0px 0px 0px 1px;
}
.container-team{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}

.team-preview-title-text {
    font-size: 2rem;
}
.team-preview-text {
    font-size: 1.1rem;
    text-align: initial;
}
.team-social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}


//RESPONSIVE 
@media all and (max-width: 991px) {
    
    h1{
        font-size: 3rem;
    }
    .team-preview {
        width: 100%;
    }
    .team-preview-title-text {
        font-size: 2.5rem;
    }
    .team-preview-text {
        font-size: 0.9rem;
    }

    
}